.devices-container {
	border: 1px solid #ddd;
}

.devices h2 {
	margin-bottom: 10px;
	margin-top: 0;
}

.devices .device-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.device-headings {
	font-weight: bold;
}

.devices-container > div {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.devices-container > div > div {
	flex: 3;
	flex-grow: 1;
	flex-shrink: 0;
}

.devices-container > div:hover {
	border-bottom-color: #ddd;
}