@import url('style_header.css');
@import url('style_nav.css');
@import url('csv-inputs.css');
@import url('devices.css');
@import url('uav-viewer.css');

html, body {
	padding: 0;
	margin: 0;
}

#root {
	padding-top: 10px;
}

.active[aria-current="page"] {
	text-decoration: underline;
}