
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

nav a:hover {
	color: #000;
	text-decoration: underline;
}

@media screen and (min-width: 760px) {
	nav {
		position: absolute;
		width: 320px;
		top: 0;
		right: 0;
		padding-top: 5px;
	}
}