{
	"resolution": {
		"width": 640,
		"height": 480
	},
	"uav": {
		"scale": 10,
		"translate": {
			"x": 0,
			"y": 0,
			"z": 0
		},
		"steerable_assembly": {
			"pivot": {
				"x": 0.0,
				"y": 3.0,
				"z": 0.0
			},
			"servo_pivot_y": 2.5
		}
	},
	"showGround": true,
	"frameOutputDirectory": "outputs/frames",
	"csv": {
		"filename": "data/datapoints.csv",
		"framesPerRow": 1,
		"columns": {
			"x": {
				"to": "x",
				"scale": 1
			},
			"y": {
				"to": "y",
				"scale": 1
			},
			"z": {
				"to": "z",
				"scale": 1
			}
		}
	}
}